/*
  Custom styles for Trackster App
*/

html {
  font-size: 16px;
}

body {
  font-family: "Work Sans";
}

.header {
  background-color: rgb(35, 2, 63);
  padding: 2rem 0;
}

.row {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Righteous";
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

input {
  border-radius: 2rem;
  height: 2.5rem;
}

header a {
  color: rgb(35, 2, 63);
  background-color: rgb(255, 0, 171);
  margin-left: 0.5rem;
  padding: .3rem;
  border-radius: 1rem;
  height: 2.5rem;
  text-align: center;
}

header a:hover {
  background-color: rgb(255, 102, 204);
}

.column-titles {
  color: rgb(255, 255, 255);
  background-color: rgb(104, 0, 255);
  padding: 0.5rem 0;
}

.track {
  font-size: 1rem;
  color: rgb(74, 74, 74);
  padding: 0.5rem 0;
  border-bottom: solid 1px rgb(204, 204, 204);
}

.play-button a {
  color: rgb(255, 0, 171);
}
